// -----------------------------------------------------------------------------
// This file contains styling for logos.
// -----------------------------------------------------------------------------

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25vh 0 0 0;
    min-height: 100px;
    width: 100%;
    background-color: rgba($dark-blue-gray, .45);
    color: white;
    font-size: 2rem;
    font-family: "trajan-pro-regular";
}

#logo {
    width: 4rem;
    height: auto;
    color: white;
}

#name {margin-top: .5rem}